---
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   color: #109d00;
 }
}

// Headers
// $header-heading-color: {{ site.color.header | default: "#fff" }} !default;
// $header-bg-color: {{ site.color.gradient_right | default: "#109d00" }} !default;
// $header-bg-color-secondary: {{ site.color.gradient_left | default: "#155799" }} !default;
// $header-bg-image: {{ /assets/img/logo.png | default: "relative_url" }} !default;


.page-header {
  color:  "#fff";
  text-align: left;
  background-color:  "#FFFFFF";
  background-image: url("assets/img/logo.png");
  
  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

