---
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   color: #109d00;
 }
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  
  color: #109d00;
  
  @include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}

.page-header {
  color: #fff;
  text-align: left;
  background-color: #FFFFFF;
  background-size: 200px auto;
  background-repeat: no-repeat;
  background-position: top right; 
  float: left;
  background-attachment: fixed;
  .background-img {
    image: url(../img/logo_cropped.png);
    size: 200px auto; 
    float: right;
  }
 
  
  .project-tagline {
    opacity: 0.9;
    color: #109d00;
    @include large {
      font-size: 1.25rem;
    }
    @include medium {
      font-size: 1.15rem;
    }
    @include small {
      font-size: 1rem;
    }
  }
}

