---
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   color: #109d00;
 }
}

// Headers
// $header-heading-color: {{ site.color.header | default: "#fff" }} !default;
// $header-bg-color: {{ site.color.gradient_right | default: "#109d00" }} !default;
// $header-bg-color-secondary: {{ site.color.gradient_left | default: "#155799" }} !default;
// $header-bg-image: {{ /assets/img/logo.png | default: "relative_url" }} !default;


.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  
  color: #109d00;
  
  @include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}

.project-tagline {
  opacity: 0.9;
  color: #109d00
    
  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.page-header {
  color: #fff;
  text-align: left;
  background-color: #FFFFFF;
  background-size: 75%;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center right; 
  background-attachment: fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  
}

